body {
    background-color: cadetblue;
    font-size: 2rem;
}

.image {
    width: 20vw;
    height: auto;
    float: left;
    margin: 0px 4vw 0px 4vw;    
}

h1 {
    font-size: 4rem;  
    font-weight: bold;
    text-align:center;
}

#category {
    font-size: 1rem;
}


a:link {
    color: black;
    text-decoration: none;
}

a:visited{
    color:mediumvioletred;
}
a:hover {
    color: deeppink;
}

footer {
    text-align: center;
}
