body {
    background-color: cadetblue;
    font-size: 2rem;
}

.image {
    width: 20vw;
    height: auto;    
}

h1 {
    font-size: 4rem;  
    font-weight: bold;
}

.category {
    font-size: smaller;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited{
    color:mediumvioletred;
}
a:hover {
    color: deeppink;
}
